<section id="site-speakers">
  <div class="wrapper">
    {% for speaker in site.data.speakers.speakers %}
    <h2 id="{{speaker.id}}">{{speaker.title}}</h2>
    <div class="speakers-list">
      {% for speakerslist in speaker.speakers-list %}
      <div class="speaker-item">
        <img src="{{ site.baseurl }}{{speakerslist.avatar}}" title="{{speakerslist.name}}" />
        <p class="speaker-name">{{speakerslist.name}}</p>
        <p class="speaker-name">{{speakerslist.bio}}</p>
        <ul>

        <li><a href="{{ social.link }}"><i class="{{ social.icon }}"></i>{{ social.name }}</a></li>

      </ul>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
