// Cta
// -----------------------------------------------
// -----------------------------------------------
#site-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $base-point-grid * 56; // 224px
  background: url("../img/assets/cta-background.svg") $gray-primary no-repeat center center;
  h3 {
    margin-bottom: $base-point-grid * 8;
    color: $white;
    text-align: center;
  }
  .button {
    border: 1px solid $white;
    transition: $base-duration $base-timing;
    transition-property: background-color, color;
    &:hover {
      color: $brand-primary;
      background: $white;
    }
  }
}

// Responsive

@include bp(medium) {
  #site-cta {
    h3 {
      padding: 0 $base-point-grid * 8;
    }
  }
}
