// Talks
// -----------------------------------------------
// -----------------------------------------------

#site-talks {
  background: rgba($gray-primary, 0.05);

  .talks-list {
    @include grid;
    @include col-1;

    .talk-item {
      @extend .card;
      display: flex;
      flex-direction: row;

      &:nth-child(2) {
        margin-bottom: -$grid-line-base;
        border-bottom: 1px dashed rgba($gray-primary, 0.14);
      }
      &:first-child {}
      &:last-child {}

      .talk-item-avatar {
        margin-right: $base-point-grid * 7;

        img {
          width: $base-point-grid * 18;
          height: auto;
          border-radius: 100%;
        }
      }

      .talk-item-content {
        .talk-speaker {
          margin: $base-point-grid * 2 0 $base-point-grid 0;
          font-family: $heading-font-family;
          color: $heading-font-color;
          text-transform: uppercase;
          letter-spacing: $base-point-grid / 2;
        }

        .talk-date {
          margin-bottom: $base-point-grid * 3;
          font-weight: $font-weight-bold;
          color: $brand-primary;

          i {
            margin-right: $base-point-grid * 2;
          }
        }
        .talk-description {
          font-size: 0.938rem;
        }
      }
    }
  }
}
// Responsive
@include bp(medium) {
  #site-talks {
    .talks-list {
      @include col-1;

      .talk-item {
        .talk-item-avatar {
          margin-right: $base-point-grid * 5;
          img {
            width: $base-point-grid * 12;
            height: auto;
          }
        }
      }
    }
  }
}
