// Talks
// -----------------------------------------------
// -----------------------------------------------

#site-talks {
  background: rgba($gray-primary, 0.05);
  .talk-list {
    @include grid;
    @include col-2;
    .talk-item {
      @extend .card;
      display: flex;
      flex-direction: row;
      .talk-item-avatar {
        width: $base-point-grid * 58;
        margin-right: 40px;
      }
      .talk-item-content {}
    }
  }
}

// Responsive
@include bp(medium) {
  #site-talks {
    .talk-list {
      @include col-1;
      gap: $grid-line-large;
    }
  }
}
